<div class="redirect">
    <img class='nuage1' src="../../../assets/Nuage.png" />
    <img class='nuage2' src="../../../assets/Nuage.png" />
    <img class='nuage3' src="../../../assets/Nuage.png" />
    <img class='nuage4' src="../../../assets/Nuage.png" />

    <img class='pierre5' src="../../../assets/pierre2.png" />
    <img class='pierre3' src="../../../assets/pierre3.png" />
    <img class='pierre2' src="../../../assets/pierre2.png" />
    <img class='pierre1' src="../../../assets/pierre.png" />
    <img src="../../../assets/redirect-illu.png" />
    <p>Vous devez être connecté pour accéder à cette page!</p>
    <a (click)="redirect()" class=" redirectBtn" type="submit">Retour à la page de connexion </a>

</div>
 